.contractors-dashboard{


}
.contractors-container{
 
   
}
.contractors-dashboard{
    max-width: 40%
}
.title-contractors{
    font-size: 18px;
    color:black;    
    text-shadow: 1px 0 black;
    letter-spacing:2.2px;
    font-weight:bold;
}