.sites-container{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1% 
}
.construction-arrow{
    max-width: 30%;  
    align-self: flex-end;
}

/* .nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background-color: rgb(228, 213, 8);
    border-color: black;
    border-style: solid;
} */
.sites-container .card{
    width: 15rem;
    margin-right: 3%;
    font-size: 0.5rem;
}
.site-name{
    font-size: 0.8rem;
    margin-bottom: 0.3rem
}

.role-site{
    font-size: 0.8;
    font-weight: 700;
}
.sites-cards{
    display: flex;
    justify-content: space-around; 
}
