.logo-main-page{
    margin-left: 5%;
    margin-right: 2%;
    width: 10rem;
}
.logo{
    color: 	rgb(221, 216, 166);
    letter-spacing: .2rem;
    font-weight: bolder;
}
.navbar{
    background-color: black;
}